/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */


input[type=button]:hover {
    color: blue;
  }

input[type=button]:active{
    color: red;
}

input[type=button]:default{
    background-color: seagreen;
}

input[type=button]:focus{
    box-shadow: sienna;
}